#works{
    padding: 3rem 0 10vh;
}
h2{
    margin-bottom: 1.5rem;
}
h6{
    font-weight: 500;
    color: #666;
}
.col-2:nth-child(odd){
    padding-right: 1rem;
}
.col-2 a{
    display: block;
    margin-bottom: 1.5rem;
}
.col-2 img{
    width: 100%;
}
.col-2 a{
    color: black;
}
@media (min-width: 800px){
    #works{
        position: relative;
        top: 80px;
    }
    .col-2:nth-child(even){
        padding-right: 1rem;
    }
}