#works{
    padding: 3rem 0 10vh;
}
h6{
    font-weight: 500;
    color: #777;
}
.col-4:nth-child(odd){
    padding-right: 1rem;
}
.col-4{
    margin-bottom: 2rem;
}
.container{
    max-width: 1000px;
}
.col-4 img{
    width: 100%;
}
.col-4 a{
    color: black;
}
@media (min-width: 800px){
    #works{
        position: relative;
        top: 80px;
    }
    .col-4:nth-child(even){
        padding-right: 1rem;
    }
}